<div class="home-component">
    <h1 class="titlec text-center">AIH Test Task</h1>
    <h4 class="subtitle text-center">For scrolling right part of charts hold <i>Shift</i> button and scroll</h4>
    <div class="px-2 mb-3 chart-block">
        <app-gross-product></app-gross-product>
    </div>
    <div class="px-2 mb-3 chart-block">
        <app-gov-budget></app-gov-budget>
    </div>
    <div class="px-2 mb-3 chart-block">
        <app-chart></app-chart>
    </div>
    <div class="px-2 mb-3 chart-block">
        <app-population></app-population>
    </div>
</div>