.home-component {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    .titlec {
        padding: 0 1rem;
        width: 100%;
        font-weight: bold;
        font-size: 2rem;
    }
    .subtitle {
        padding: 0 1rem;
        width: 100%;

        i {
            font-weight: bold;
        }   
    }

    .chart-block {
        width: 50%;
        padding: 1rem 1.5rem;
    }

    @media (max-width: 992px) {
        .chart-block {
            width: 100%;
            padding: 0;
        }
    }
}