@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: linear-gradient(90deg, #173491,#0059B0);
}

.chart-component {
    // border: 1px solid rgba(200,213,238,255);
    padding: 0 0 1rem 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;    
    min-height: 50vh;
    position: relative;
    box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.17);

    
    .legends-container {
        margin-top: 0.7rem;
        width: 100%;
        display: flex;
        padding: 0 2rem;
        flex-wrap: wrap;

        .legend {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            .legend-square {
                margin-right: 0.5rem;
                width: 10px;
                height: 10px;
            }
            .legend-square-line {
                margin-right: 0.5rem;
                width: 1rem;
                border-top: 4px;
                border-style: dotted;
            }
            .legend-label {
                font-size: 0.9rem;
                color: grey;
            }
        }
    }

    .title-container {
        height: 56px;
        padding: 1rem 2rem;
        background: linear-gradient(270deg, #0079BD, #009CCF);
        color: whitesmoke;

        .title {
            font-weight: bold;
        }
    }

    .charts-container {
        display: flex;
        width: 100%;
        padding: 0 2rem;
        overflow-y: auto;

        .chart-box {

        }

        
        
        .chart {
            min-width: 180px !important;
            display: flex;
            
            
            .chart-canvas {
                align-self: flex-start;
                height: 100%;
            }
        }
        .left-chart {
            width: 65%;
            overflow-x: scroll;

            .chart-canvas {
                width: 100vw;
                min-width: 1000px !important;
                height: 330px !important;
            }
        }
        .second-chart {
            width: 35%;
            height: 330px !important;
        }
        .chart-scroll {
            width:250px; 
            max-width: 250px;
            overflow-x: scroll;
        
        
            .chartBody {
                width:  500px;
                height: 100%;
            }
        }
    }

}